#encart-meteo h2{
    
    
    font-size: 1em;
}
.contenu{
    
    margin-top: 200px;
}
#encart-meteo ul{
    

 
}
#encart-meteo{
    text-align: center;
    border:1px solid #171717;
    /*! width: 20%; */
    position: absolute;
    z-index: 9999;
    background-color: #7bbf7b;
        
    
    color: white;
    top: 0;
    height: 250px;
    font-size: 0.8em;
    left: 5%;
    padding: 1%;
    box-shadow: 1px 2px 2px black;
}
.cid-qyXn6aM2G0 .navbar.navbar-short .navbar-logo img {
 
    height: 6rem !important;
}
   .cid-qyXn6aM2G0 .nav-item .nav-link::before {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        bottom: -0.5rem;
        left: 50%;
        background: linear-gradient(90deg, #1b1b1c, #fe525b);
        transition: width 90ms linear, left 200ms linear;
    }
.carteArticle{
    
    margin-top: 20px;
    height: 300px;
    display: inline-block;
    /*! border-right: 1px solid; */
    
    overflow: scroll;
    box-shadow: 1px 1px 1px;
    line-height: 18px;
}
#vue{
    
    max-width: 1000px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.cid-qyXn6aM2G0 .navbar.navbar-short{
    
    height: 120px!important;;
}
#navbarSupportedContent{
    
    
    border-bottom: 1px solid black;
    
    
    
}
.navbar-logo img{
    



height: auto;

box-shadow: none;

margin-top: -0px;
}
.container-article{
    
    
    
    margin-top: 170px;
    width: 70%;
    margin-left: 15%;
}

img {
    display: block;
    padding: 10px;
    margin: auto;
    position:relative;
    box-shadow: 3px 2px 3px black;

    max-width: 340px%;
    max-height: 340px;
    clear: both;
    float: ;
    background-color: #5f67a0;
}
.listeresume{
    
    
    margin-top: 200px;
}
.mainLinkEdit{
    
    
    display: inline-block;
    margin-left: 20px;
    
}
.mainLinkEdit:last-child:after{
    
    content: "";
}
.mainLinkEdit:after{
    margin-left:20px;
    content: "|";
}
.btnDeconnexion{
    
    
    position: absolute;
top: -120px;
left: 90%;
z-index: 99999;
    color: white;
}
body{
    
    text-align: center;
}


.topSite{
    
    
    margin-top:10%;
}
table{
    
    margin-left: auto;
margin-right: auto;

}